body {
  background-color: #0b0e11;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: black;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 10px;
  box-sizing: border-box
}

.App-link {
  color: #61dafb;
}
